<%= flash[:notice]%>
<table>
    <thead>
        <tr>
        <th>NAME</th>
        <th>UNIT</th>
        <th>PRICE</th>
        <th>PURCHASE DATE</th>
        <th> ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        <%@products.each do|product|%>
            <tr>
                <td><%=product.name%></td>
                <td><%=product.unit%></td>
                <td><%=product.price%></td>
                <td><%=product.purchase_date%></td>
                <td><%= link_to "Edit", "/products/#{product.id}/edit" %></td>
                <td><%= link_to "show","/products/#{product.id}"%>
            </tr>
        <%end%>
    </tbody>
</table>