<%= form_with model: @member do |form|%>
    <% @member.errors.each do |m| %>
        <%=m%>
    <%end%>
  <div class="col-lg-4">
    <label for="formGroupExampleInput" class="form-label">Name</label>
    <%= form.text_field :name, class: "form-control",  placeholder: " Name"     %>
    <% @member.errors[:name].each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
   <div class="col-lg-4">
    <label for="formGroupExampleInput" class="form-label">Fathers Name</label>
    <%= form.text_field :father_name, class: "form-control",  placeholder: " Fathers Name"     %>
    <% @member.errors.full_messages_for(:father_name).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
   <div class="col-lg-4">
    <label for="formGroupExampleInput" class="form-label">Mothers Name</label>
    <%= form.text_field :mother_name, class: "form-control",  placeholder: "Mothers Name"     %>
    <% @member.errors.full_messages_for(:mother_name).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
  <div class="col-lg-4">
    <label for="formGroupExampleInput" class="form-label">Flat No:</label>
    <%= form.text_field :flat_no, class: "form-control",  placeholder: "Flat No:"     %>
    <% @member.errors.full_messages_for(:flat_no).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
  <div class="col-lg-4">
    <label for="formGroupExampleInput" class="form-label">NID No:</label>
    <%= form.text_field :nid_no, class: "form-control",  placeholder: "NID No:"     %>
    <% @member.errors.full_messages_for(:nid_no).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
  
  <div class="mb-4 mt-4">
    <%= form.submit class: "btn btn btn-dark btn-lg rounded-0" %>
    <%= link_to "Back To Members", members_path, class: "btn btn-outline-dark rounded-0 btn-lg"  %>
  </div>
<% end %>
