 <%= flash[:notice]%>

<div class ="card mt-5 mb-4">

  <div class= "card-body">
    <h2 class = "text-center"> Listing Products </h2>
  </div>
</div>
 
 <table class ="table table-bordered">
    <thead>
    <tr>
      <th> Name</th>

      <th>Fathers Name</th>
      <th>Mothers Name</th>
      <th>Flat No</th>
      <th>NID No.</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @members.each do|member|  %>
      <tr>
        <td><%= member.name%> </td>

        <td><%= member.father_name%></td>
        <td><%= member.mother_name%></td>
        <td><%= member.flat_no%></td>
        <td><%= member.nid_no %></td>
        
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Actions
            </button>
            <ul class="dropdown-menu">
              <li><%= link_to "show", member_path(member.id), {class: "dropdown-item"} %></li>
              <li><%= link_to "Edit",edit_member_path(member.id), class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Delete",member_path(member.id), class: "dropdown-item", method: :delete, data: {confirm: 'Are you sure to Delete?'} %></li>
            </ul>
          </div>




        </td>

      </tr>
    <% end%>
    </tbody>
  </table>